# Book Recommendation System Clustering | Collaborative-Based

In [40]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [57]:
# Read the books csv file 
books = pd.read_csv('Books_Recommender_System/data/BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')

# Read the users csv file 
users = pd.read_csv('Books_Recommender_System/data/BX-Users.csv', sep=';', error_bad_lines=False, encoding='latin-1')

# Read the ratings csv file 
ratings = pd.read_csv('Books_Recommender_System/data/BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding='latin-1')

C:\Users\gouse\AppData\Local\Temp\ipykernel_24308\217106985.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv('Books_Recommender_System/data/BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\gouse\AppData\Local\Temp\ipykernel_24308\217106985.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books_Recommender_System/data/BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')
C:\Users\gouse\AppData\Local\Temp\ipykernel_24308\217106985.py:5: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv('Books_Recommender_System/data/BX-Users.csv', sep=';', error_bad_lines=False, encoding='latin-1')
C:\Users\gouse\AppData\Local\Temp\ipykernel_24308\217106985.py:8: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv('Books_Recommender_System/data/BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding='latin-1')

In [50]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [42]:
books.shape

(271360, 8)

In [43]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [44]:
books_1 = books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher','Image-URL-L']]

In [45]:
books_1.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [46]:
books_1.rename(columns={
    "Book-Title": "Title",
    "Book-Author": "Author",
    "Year-Of-Publication": "year",
    "Publisher": "publisher",
    "Image-URL-L": "img_url"
}, inplace=True)

C:\Users\gouse\AppData\Local\Temp\ipykernel_24308\2371175129.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_1.rename(columns={

In [47]:
books_1.head(2)

,ISBN,Title,Author,year,publisher,img_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [52]:
users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [55]:
users.shape

(278858, 3)

In [58]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [59]:
ratings.shape

(1149780, 3)

In [72]:
ratings.rename(columns={
    "User-ID"    :"User_ID",
    "Book-Rating":"Book_Rating"   
}, inplace = True)

In [73]:
ratings.head(2)

   User_ID        ISBN  Book_Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [71]:
# To check the 3 data set shape

print("Shape of the books DataFrame:", books_1.shape)
print("Shape of the users DataFrame:", users.shape)
print("Shape of the ratings DataFrame:", ratings.shape)

Shape of the books DataFrame: (271360, 6)
Shape of the users DataFrame: (278858, 3)
Shape of the ratings DataFrame: (1149780, 3)

In [76]:
ratings['User_ID'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: User_ID, Length: 105283, dtype: int64

In [79]:
ratings['User_ID'].unique().shape

(105283,)

In [80]:
x = ratings['User_ID'].value_counts() > 200

In [82]:
# How maney users who are rated more than 200 books 
x[x].shape

(899,)

In [83]:
y= x[x].index

In [84]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [86]:
ratings = ratings[ratings['User_ID'].isin(y) ]

In [87]:
ratings.head()

      User_ID        ISBN  Book_Rating
1456   277427  002542730X           10
1457   277427  0026217457            0
1458   277427  003008685X            8
1459   277427  0030615321            0
1460   277427  0060002050            0

In [89]:
ratings.shape

(526356, 3)

In [93]:
rating_with_Books = ratings.merge(books_1, on="ISBN")

In [94]:
rating_with_Books.head()

,User_ID,ISBN,Book_Rating,Title,Author,year,publisher,img_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [98]:
rating_with_Books.info

<bound method DataFrame.info of         User_ID        ISBN  Book_Rating  \
0        277427  002542730X           10
1          3363  002542730X            0
2         11676  002542730X            6
3         12538  002542730X           10
4         13552  002542730X            0
...         ...         ...          ...
487666   275970  1892145022            0
487667   275970  1931868123            0
487668   275970  3411086211           10
487669   275970  3829021860            0
487670   275970  4770019572            0

                                                    Title  \
0       Politically Correct Bedtime Stories: Modern Ta...
1       Politically Correct Bedtime Stories: Modern Ta...
2       Politically Correct Bedtime Stories: Modern Ta...
3       Politically Correct Bedtime Stories: Modern Ta...
4       Politically Correct Bedtime Stories: Modern Ta...
...                                                   ...
487666                                   Here Is New York
487667  There's a Porcupine in My Outhouse: Misadventu...
487668                                         Die Biene.
487669                                     The Penis Book
487670                                            Musashi

                               Author  year  \
0                   James Finn Garner  1994
1                   James Finn Garner  1994
2                   James Finn Garner  1994
3                   James Finn Garner  1994
4                   James Finn Garner  1994
...                               ...   ...
487666                    E. B. White  1999
487667                   Mike Tougias  2002
487668  Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt  1993
487669                   Joseph Cohen  1999
487670                 Eiji Yoshikawa  1995

                                   publisher  \
0                  John Wiley &amp; Sons Inc
1                  John Wiley &amp; Sons Inc
2                  John Wiley &amp; Sons Inc
3                  John Wiley &amp; Sons Inc
4                  John Wiley &amp; Sons Inc
...                                      ...
487666                       Little Bookroom
487667                    Capital Books (VA)
487668  Bibliographisches Institut, Mannheim
487669                              Konemann
487670          Kodansha International (JPN)

                                                  img_url
0       http://images.amazon.com/images/P/002542730X.0...
1       http://images.amazon.com/images/P/002542730X.0...
2       http://images.amazon.com/images/P/002542730X.0...
3       http://images.amazon.com/images/P/002542730X.0...
4       http://images.amazon.com/images/P/002542730X.0...
...                                                   ...
487666  http://images.amazon.com/images/P/1892145022.0...
487667  http://images.amazon.com/images/P/1931868123.0...
487668  http://images.amazon.com/images/P/3411086211.0...
487669  http://images.amazon.com/images/P/3829021860.0...
487670  http://images.amazon.com/images/P/4770019572.0...

[487671 rows x 8 columns]>

In [95]:
rating_with_Books.shape

(487671, 8)

In [99]:
num_rating = rating_with_Books.groupby('Title')['Book_Rating'].count().reset_index()

In [100]:
num_rating

                                                    Title  Book_Rating
0        A Light in the Storm: The Civil War Diary of ...            2
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Beyond IBM: Leadership Marketing and Finance ...            1
4        Clifford Visita El Hospital (Clifford El Gran...            1
...                                                   ...          ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...            3
160265                                      Ã?Â?lpiraten.            1
160266                     Ã?Â?rger mit Produkt X. Roman.            1
160267                              Ã?Â?stlich der Berge.            1
160268                                  Ã?Â?thique en toc            1

[160269 rows x 2 columns]

In [101]:
num_rating.rename(columns = {"Book_Rating":"no_of_rating"},inplace = True)

In [102]:
num_rating.head()

                                               Title  no_of_rating
0   A Light in the Storm: The Civil War Diary of ...             2
1                              Always Have Popsicles             1
2               Apple Magic (The Collector's series)             1
3   Beyond IBM: Leadership Marketing and Finance ...             1
4   Clifford Visita El Hospital (Clifford El Gran...             1

In [106]:
final_rating = rating_with_Books.merge(num_rating, on = 'Title')

In [107]:
final_rating.head(2)

,User_ID,ISBN,Book_Rating,Title,Author,year,publisher,img_url,no_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [109]:
final_rating.shape

(487671, 9)

In [111]:
final_rating_more_than_50_rating = final_rating[final_rating['no_of_rating']>50]

In [114]:
final_rating_more_than_50_rating.head(2)

,User_ID,ISBN,Book_Rating,Title,Author,year,publisher,img_url,no_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [117]:
final_rating_more_than_50_rating.columns

Index(['User_ID', 'ISBN', 'Book_Rating', 'Title', 'Author', 'year',
       'publisher', 'img_url', 'no_of_rating'],
      dtype='object')

In [115]:
final_rating_more_than_50_rating.shape

(59903, 9)

In [118]:

final_ratings = final_rating_more_than_50_rating

In [119]:
final_ratings.head()

,User_ID,ISBN,Book_Rating,Title,Author,year,publisher,img_url,no_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [120]:
# Creating the Pivot table 

book_pivot = final_ratings.pivot_table(columns = 'User_ID',index = 'Title',values = 'Book_Rating')

In [121]:
book_pivot

User_ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
book_pivot.shape

(703, 888)

In [124]:
# replacing the null valise 

book_pivot.fillna(0,inplace = True)

In [125]:
book_pivot

User_ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### If i aply the entair data set to my algorithem it will take so much time to calculate the distance 
####  for this we have one tequnic csl matrix is solve this tuuse of calculuting the distance

In [126]:
from scipy.sparse import csr_matrix

In [129]:
book_spacsc = csr_matrix(book_pivot)

In [130]:
book_spacsc

<703x888 sparse matrix of type '<class 'numpy.float64'>'
	with 14787 stored elements in Compressed Sparse Row format>

In [135]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [139]:
# Fit the model to your data
model.fit(book_spacsc)

NearestNeighbors(algorithm='brute', n_neighbors=6)

In [149]:
distance ,suggesions = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [150]:
distance

array([[ 0.        , 22.3383079 , 23.08679276, 23.26478025, 24.24871131,
        24.43358345]])

In [148]:
suggesions

array([[236, 597, 312, 409, 178, 132]], dtype=int64)

In [151]:
for i in range(len(suggesions)):
    print(book_pivot.index[suggesions[i]])

Index(['Hemlock Bay', 'Exclusive', 'No Safe Place', 'Last Man Standing',
       'Pleading Guilty', 'Jacob Have I Loved'],
      dtype='object', name='Title')

In [164]:
book_pivot.index[237]

'Hemlock Bay'

In [152]:
book_pivot.index

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Title', length=703)

In [153]:
book_names = book_pivot.index

In [155]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(book_names,open('artifacts/book_names.pkl','wb'))
pickle.dump(final_ratings,open('artifacts/final_ratings.pkl','wb'))
pickle.dump(book_pivot,open('artifacts/book_pivot.pkl','wb'))

In [156]:
def recommend_book(book_names):
    book_id = np.where(book_pivot.index == book_names)[0][0]
    distance ,suggesions = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
    
    for i in range(len(suggesions)):
        books = book_pivot.index[suggesions[i]]
        for j in books:
            print(j)

In [157]:
book_names = '2nd Chance'
recommend_book(book_names)

2nd Chance
The Next Accident
Last Man Standing
Exclusive
Unspeakable
Mortal Prey